

footer {
    border-top: 8px solid #4aaaa5;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    font-size: 10px;
    padding: 40px 0px 7px 0px;
    margin: 50px 0px 0px 0px:
}
.container {
    width: 960px;
    
    
}

#patrickduquettenavbar {
    margin-bottom: 50px !important;
    
}
#aboutmehead {
    
   
    font-weight: bolder;
    letter-spacing: 1px;

}

.smile {
    margin-right: 20px !important;
}

#aboutmebody {
    padding: 5px !important;
   
}

#aboutmeline {
    
    background-color: lightgrey;
    width: 100%;
    height: 2px;
    margin: 15px 0px 30px 10px;
}



.fw {
    width: 100%;
    
}

.navspace {
    padding: 5px 0px 0px 0px;
}
.piping {
    color: darkgrey;
    margin: 0px 30px 0px 30px;
    font-size: 20px
 
}

.linknav {
    color: darkgrey;
    font-size: 20px
}



.bg-light {
    background-color: white !important;
}
body {
    /* This pattern is downloaded from www.subtlepatterns.com 
If you need more, that's where to get'em.*/
background-image: url("../images/blue-snow.png");

}
#headd {
    width: 100%;
    background-color: #ffffff;
}
.zxcv {
    
   margin: 0 auto;
    width: 960px;
    border: #cccccc;
}




#name {
    background-color: teal;
    color: #ffffff;
    padding: 20px;
    float: left;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

.row {
    margin: 0px 0px 0px 0px;
}

h1 {
    
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;

}
h2 {
    
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: teal;

}
.maincontent {
    padding: 25px;
    background-color: white;
    margin: 50px 0px 125px 0px;
    

   }

.btn {
    background-color: teal;
}

.apple {
    
    Position: relative;
    margin: 30px;
    width: 275px;
    Height: 200px;
    background-image: url("../images/Apple.jpg");
    float: left;
    
}

.Pear {
    Position: relative;
    margin: 30px;
    width: 275px;
    Height: 200px;
    background-image: url("../images/Pears.jpg");
    float: left;

}

.grape {
    Position: relative;
    margin: 30px;
    width: 275px;
    Height: 200px;
    background-image: url("../images/grape.jpg");
    float: left;

}

.dried {
    Position: relative;
    margin: 30px;
    width: 275px;
    Height: 200px;
    background-image: url("../images/Dried.jpg");
    float: left;

}

.watermelon {
    Position: relative;
    margin: 30px;
    width: 275px;
    Height: 200px;
    background-image: url("../images/Watermelon.jpg");
    float: left;

}
.wrapper {
    
    background-color: teal;
    color: white;
    position: absolute;
    bottom: 8px;
    padding: 6px;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}